
/** ADD YOUR AWESOME CODES HERE **/
#mess_area{
    position: absolute;
    right: 5px;top:10px;
}

#detail_mess_area{
    width: 200px;
    padding: 10px 10px;
    position: absolute;
    right:-200px;top:0;
    text-align: left;
    background-color: rgb(231, 219, 209);
    color: black;
    z-index: 4;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}

.fa-caret-right{
    position: absolute;
    right: -10px;
    top:10px;
    font-size: 20px;
    color: black;
    z-index: 5;
    display: none;
}

#mess:hover #detail_mess_area{
    display: block;
}

#mess:hover .fa-caret-right{display: block;}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 240px;
    margin-top: 100px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.form-control-blog{
	border-radius: 2px;
    min-height: 50px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.75rem;
    line-height: 1.5;
    color: #535455;
    background-clip: padding-box;
    border: 1px solid #f8803a;
    background: #d0e0ef;
}
.form-control:focus{
	border: 1px solid #474745;
    box-shadow: none;
    font-size: large;
}
.next-step{
    background-color: #cbcccc;
    text-align: center;
}
.next-step:hover{
    cursor: crosshair;
}
/* input[type="file"] {
    display: none;
} */
.fileupload {
    height: 70px;
    position: relative;
    overflow: hidden;
    border: 1px solid saddlebrown;
    text-align: center;
    padding: 100px;
}

.fileupload input {

    position: absolute;
    top: 0;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    font-size: 300px; /* wtf, but apparently the most reliable way to make
                         a large part of the input clickable in most browsers */
    height: 200px;
}

.delete{
    display: none;
}
.show-image:hover .delete {
    display: block;
}
.show-image .delete {
    position:absolute;
    display:none;
}

.show-image{
    position: relative;
    max-height: 300px;
    overflow: hidden;
    border: 1px solid saddlebrown;
    text-align: center;
}

div.show-image button.delete {
    top:40%;
    left: 45%;
}

.box {
	background-color: #ec9f7a;
    padding: 2.25rem 3.25rem;
}

.box + .box {
	margin-top: 2.5rem;
}

.save-blog{
    
    margin-top: 50px;
    background: #f05209;
    border: 1px solid #f33d3d;
    border-radius: 3px;
    width: 80px;
    height: 80%;
    font-size: large;
    font-weight: 700;

}